@property st-global(--wds-background-blur-modal);
@property st-global(--wds-background-blur-surface-overlay);
@property st-global(--wds-border-radius-surface-default);
@property st-global(--wds-border-radius-surface-modal);
@property st-global(--wds-border-radius-surface-modal-backdrop);
@property st-global(--wds-border-radius-surface-overlay);
@property st-global(--wds-border-radius-surface-raised);
@property st-global(--wds-border-radius-surface-sunken);
@property st-global(--wds-border-width-default);
@property st-global(--wds-border-width-varied);
@property st-global(--wds-border-width-varied-secondary);
@property st-global(--wds-color-border-ai-primary);
@property st-global(--wds-color-border-ai-primary-active);
@property st-global(--wds-color-border-ai-primary-disabled);
@property st-global(--wds-color-border-ai-primary-hover);
@property st-global(--wds-color-border-dark-primary);
@property st-global(--wds-color-border-dark-primary-active);
@property st-global(--wds-color-border-dark-primary-disabled);
@property st-global(--wds-color-border-dark-primary-hover);
@property st-global(--wds-color-border-dark-secondary);
@property st-global(--wds-color-border-dark-secondary-active);
@property st-global(--wds-color-border-dark-secondary-disabled);
@property st-global(--wds-color-border-dark-secondary-hover);
@property st-global(--wds-color-border-destructive-primary);
@property st-global(--wds-color-border-destructive-primary-active);
@property st-global(--wds-color-border-destructive-primary-disabled);
@property st-global(--wds-color-border-destructive-primary-hover);
@property st-global(--wds-color-border-destructive-secondary);
@property st-global(--wds-color-border-destructive-secondary-active);
@property st-global(--wds-color-border-destructive-secondary-disabled);
@property st-global(--wds-color-border-destructive-secondary-hover);
@property st-global(--wds-color-border-destructive-tertiary);
@property st-global(--wds-color-border-destructive-tertiary-active);
@property st-global(--wds-color-border-destructive-tertiary-disabled);
@property st-global(--wds-color-border-destructive-tertiary-hover);
@property st-global(--wds-color-border-light);
@property st-global(--wds-color-border-light-active);
@property st-global(--wds-color-border-light-disabled);
@property st-global(--wds-color-border-light-hover);
@property st-global(--wds-color-border-light-primary-active);
@property st-global(--wds-color-border-light-primary-disabled);
@property st-global(--wds-color-border-premium-primary);
@property st-global(--wds-color-border-premium-primary-active);
@property st-global(--wds-color-border-premium-primary-disabled);
@property st-global(--wds-color-border-premium-primary-hover);
@property st-global(--wds-color-border-premium-secondary);
@property st-global(--wds-color-border-premium-secondary-active);
@property st-global(--wds-color-border-premium-secondary-disabled);
@property st-global(--wds-color-border-premium-secondary-hover);
@property st-global(--wds-color-border-premium-tertiary);
@property st-global(--wds-color-border-premium-tertiary-active);
@property st-global(--wds-color-border-premium-tertiary-disabled);
@property st-global(--wds-color-border-premium-tertiary-hover);
@property st-global(--wds-color-border-stage-wip);
@property st-global(--wds-color-border-standard-primary);
@property st-global(--wds-color-border-standard-primary-active);
@property st-global(--wds-color-border-standard-primary-disabled);
@property st-global(--wds-color-border-standard-primary-hover);
@property st-global(--wds-color-border-standard-secondary);
@property st-global(--wds-color-border-standard-secondary-active);
@property st-global(--wds-color-border-standard-secondary-disabled);
@property st-global(--wds-color-border-standard-secondary-hover);
@property st-global(--wds-color-border-standard-secondary-readonly);
@property st-global(--wds-color-border-standard-tertiary);
@property st-global(--wds-color-border-standard-tertiary-active);
@property st-global(--wds-color-border-standard-tertiary-disabled);
@property st-global(--wds-color-border-standard-tertiary-hover);
@property st-global(--wds-color-border-success-primary);
@property st-global(--wds-color-border-success-primary-active);
@property st-global(--wds-color-border-success-primary-disabled);
@property st-global(--wds-color-border-success-primary-hover);
@property st-global(--wds-color-border-success-secondary);
@property st-global(--wds-color-border-success-secondary-active);
@property st-global(--wds-color-border-success-secondary-disabled);
@property st-global(--wds-color-border-success-secondary-hover);
@property st-global(--wds-color-border-success-tertiary);
@property st-global(--wds-color-border-success-tertiary-active);
@property st-global(--wds-color-border-success-tertiary-disabled);
@property st-global(--wds-color-border-success-tertiary-hover);
@property st-global(--wds-color-border-transparent-primary);
@property st-global(--wds-color-border-transparent-primary-active);
@property st-global(--wds-color-border-transparent-primary-disabled);
@property st-global(--wds-color-border-transparent-primary-hover);
@property st-global(--wds-color-border-urgent-primary);
@property st-global(--wds-color-border-urgent-primary-active);
@property st-global(--wds-color-border-urgent-primary-disabled);
@property st-global(--wds-color-border-urgent-primary-hover);
@property st-global(--wds-color-border-urgent-secondary);
@property st-global(--wds-color-border-urgent-secondary-active);
@property st-global(--wds-color-border-urgent-secondary-disabled);
@property st-global(--wds-color-border-urgent-secondary-hover);
@property st-global(--wds-color-border-urgent-tertiary);
@property st-global(--wds-color-border-urgent-tertiary-active);
@property st-global(--wds-color-border-urgent-tertiary-disabled);
@property st-global(--wds-color-border-urgent-tertiary-hover);
@property st-global(--wds-color-border-warning-primary);
@property st-global(--wds-color-border-warning-primary-active);
@property st-global(--wds-color-border-warning-primary-disabled);
@property st-global(--wds-color-border-warning-primary-hover);
@property st-global(--wds-color-border-warning-secondary);
@property st-global(--wds-color-border-warning-secondary-active);
@property st-global(--wds-color-border-warning-secondary-disabled);
@property st-global(--wds-color-border-warning-secondary-hover);
@property st-global(--wds-color-border-warning-tertiary);
@property st-global(--wds-color-border-warning-tertiary-active);
@property st-global(--wds-color-border-warning-tertiary-disabled);
@property st-global(--wds-color-border-warning-tertiary-hover);
@property st-global(--wds-color-fill-accent-1);
@property st-global(--wds-color-fill-accent-2);
@property st-global(--wds-color-fill-accent-3);
@property st-global(--wds-color-fill-accent-4);
@property st-global(--wds-color-fill-accent-5);
@property st-global(--wds-color-fill-accent-6);
@property st-global(--wds-color-fill-accent-7);
@property st-global(--wds-color-fill-accent-8);
@property st-global(--wds-color-fill-accent-9);
@property st-global(--wds-color-fill-accent-10);
@property st-global(--wds-color-fill-accent-11);
@property st-global(--wds-color-fill-accent-12);
@property st-global(--wds-color-fill-ai);
@property st-global(--wds-color-fill-ai-hover);
@property st-global(--wds-color-fill-ai-primary);
@property st-global(--wds-color-fill-ai-primary-active);
@property st-global(--wds-color-fill-ai-primary-disabled);
@property st-global(--wds-color-fill-ai-primary-hover);
@property st-global(--wds-color-fill-ai-primary-pressed);
@property st-global(--wds-color-fill-ai-secondary);
@property st-global(--wds-color-fill-ai-secondary-active);
@property st-global(--wds-color-fill-ai-secondary-disabled);
@property st-global(--wds-color-fill-ai-secondary-hover);
@property st-global(--wds-color-fill-ai-tertiary);
@property st-global(--wds-color-fill-ai-tertiary-active);
@property st-global(--wds-color-fill-ai-tertiary-disabled);
@property st-global(--wds-color-fill-ai-tertiary-hover);
@property st-global(--wds-color-fill-dark-primary);
@property st-global(--wds-color-fill-dark-primary-active);
@property st-global(--wds-color-fill-dark-primary-disabled);
@property st-global(--wds-color-fill-dark-primary-hover);
@property st-global(--wds-color-fill-dark-secondary);
@property st-global(--wds-color-fill-dark-secondary-active);
@property st-global(--wds-color-fill-dark-secondary-disabled);
@property st-global(--wds-color-fill-dark-secondary-hover);
@property st-global(--wds-color-fill-dark-tertiary);
@property st-global(--wds-color-fill-dark-tertiary-active);
@property st-global(--wds-color-fill-dark-tertiary-disabled);
@property st-global(--wds-color-fill-dark-tertiary-hover);
@property st-global(--wds-color-fill-destructive-primary);
@property st-global(--wds-color-fill-destructive-primary-active);
@property st-global(--wds-color-fill-destructive-primary-disabled);
@property st-global(--wds-color-fill-destructive-primary-hover);
@property st-global(--wds-color-fill-destructive-secondary);
@property st-global(--wds-color-fill-destructive-secondary-active);
@property st-global(--wds-color-fill-destructive-secondary-disabled);
@property st-global(--wds-color-fill-destructive-secondary-hover);
@property st-global(--wds-color-fill-destructive-tertiary);
@property st-global(--wds-color-fill-destructive-tertiary-active);
@property st-global(--wds-color-fill-destructive-tertiary-disabled);
@property st-global(--wds-color-fill-destructive-tertiary-hover);
@property st-global(--wds-color-fill-light-primary);
@property st-global(--wds-color-fill-light-primary-active);
@property st-global(--wds-color-fill-light-primary-disabled);
@property st-global(--wds-color-fill-light-primary-hover);
@property st-global(--wds-color-fill-light-secondary);
@property st-global(--wds-color-fill-light-secondary-active);
@property st-global(--wds-color-fill-light-secondary-disabled);
@property st-global(--wds-color-fill-light-secondary-hover);
@property st-global(--wds-color-fill-light-tertiary);
@property st-global(--wds-color-fill-light-tertiary-active);
@property st-global(--wds-color-fill-light-tertiary-disabled);
@property st-global(--wds-color-fill-light-tertiary-hover);
@property st-global(--wds-color-fill-premium-light-primary);
@property st-global(--wds-color-fill-premium-light-primary-active);
@property st-global(--wds-color-fill-premium-light-primary-disabled);
@property st-global(--wds-color-fill-premium-light-primary-hover);
@property st-global(--wds-color-fill-premium-light-secondary);
@property st-global(--wds-color-fill-premium-light-secondary-active);
@property st-global(--wds-color-fill-premium-light-secondary-disabled);
@property st-global(--wds-color-fill-premium-light-secondary-hover);
@property st-global(--wds-color-fill-premium-primary);
@property st-global(--wds-color-fill-premium-primary-active);
@property st-global(--wds-color-fill-premium-primary-disabled);
@property st-global(--wds-color-fill-premium-primary-hover);
@property st-global(--wds-color-fill-premium-secondary);
@property st-global(--wds-color-fill-premium-secondary-active);
@property st-global(--wds-color-fill-premium-secondary-disabled);
@property st-global(--wds-color-fill-premium-secondary-hover);
@property st-global(--wds-color-fill-premium-tertiary);
@property st-global(--wds-color-fill-premium-tertiary-active);
@property st-global(--wds-color-fill-premium-tertiary-disabled);
@property st-global(--wds-color-fill-premium-tertiary-hover);
@property st-global(--wds-color-fill-social-facebook);
@property st-global(--wds-color-fill-social-facebook-active);
@property st-global(--wds-color-fill-social-facebook-disabled);
@property st-global(--wds-color-fill-social-facebook-hover);
@property st-global(--wds-color-fill-social-instagram);
@property st-global(--wds-color-fill-social-instagram-active);
@property st-global(--wds-color-fill-social-instagram-disabled);
@property st-global(--wds-color-fill-social-instagram-hover);
@property st-global(--wds-color-fill-social-linkedin);
@property st-global(--wds-color-fill-social-linkedin-active);
@property st-global(--wds-color-fill-social-linkedin-disabled);
@property st-global(--wds-color-fill-social-linkedin-hover);
@property st-global(--wds-color-fill-social-pinterest);
@property st-global(--wds-color-fill-social-pinterest-active);
@property st-global(--wds-color-fill-social-pinterest-disabled);
@property st-global(--wds-color-fill-social-pinterest-hover);
@property st-global(--wds-color-fill-social-twitter);
@property st-global(--wds-color-fill-social-twitter-active);
@property st-global(--wds-color-fill-social-twitter-disabled);
@property st-global(--wds-color-fill-social-twitter-hover);
@property st-global(--wds-color-fill-social-xcorp);
@property st-global(--wds-color-fill-social-xcorp-active);
@property st-global(--wds-color-fill-social-xcorp-disabled);
@property st-global(--wds-color-fill-social-xcorp-hover);
@property st-global(--wds-color-fill-social-youtube);
@property st-global(--wds-color-fill-social-youtube-active);
@property st-global(--wds-color-fill-social-youtube-disabled);
@property st-global(--wds-color-fill-social-youtube-hover);
@property st-global(--wds-color-fill-stage-anchor);
@property st-global(--wds-color-fill-stage-anchor-active);
@property st-global(--wds-color-fill-stage-anchor-disabled);
@property st-global(--wds-color-fill-stage-anchor-hover);
@property st-global(--wds-color-fill-stage-element-primary);
@property st-global(--wds-color-fill-stage-element-primary-active);
@property st-global(--wds-color-fill-stage-element-primary-disabled);
@property st-global(--wds-color-fill-stage-element-primary-hover);
@property st-global(--wds-color-fill-stage-element-secondary);
@property st-global(--wds-color-fill-stage-element-secondary-active);
@property st-global(--wds-color-fill-stage-element-secondary-disabled);
@property st-global(--wds-color-fill-stage-element-secondary-hover);
@property st-global(--wds-color-fill-stage-master-primary);
@property st-global(--wds-color-fill-stage-master-primary-active);
@property st-global(--wds-color-fill-stage-master-primary-disabled);
@property st-global(--wds-color-fill-stage-master-primary-hover);
@property st-global(--wds-color-fill-stage-master-secondary);
@property st-global(--wds-color-fill-stage-master-secondary-active);
@property st-global(--wds-color-fill-stage-master-secondary-disabled);
@property st-global(--wds-color-fill-stage-master-secondary-hover);
@property st-global(--wds-color-fill-stage-padding);
@property st-global(--wds-color-fill-stage-padding-active);
@property st-global(--wds-color-fill-stage-padding-disabled);
@property st-global(--wds-color-fill-stage-padding-hover);
@property st-global(--wds-color-fill-stage-section-primary);
@property st-global(--wds-color-fill-stage-section-primary-active);
@property st-global(--wds-color-fill-stage-section-primary-disabled);
@property st-global(--wds-color-fill-stage-section-primary-hover);
@property st-global(--wds-color-fill-stage-section-secondary);
@property st-global(--wds-color-fill-stage-section-secondary-active);
@property st-global(--wds-color-fill-stage-section-secondary-disabled);
@property st-global(--wds-color-fill-stage-section-secondary-hover);
@property st-global(--wds-color-fill-standard-light-primary);
@property st-global(--wds-color-fill-standard-light-primary-active);
@property st-global(--wds-color-fill-standard-light-primary-disabled);
@property st-global(--wds-color-fill-standard-light-primary-hover);
@property st-global(--wds-color-fill-standard-light-secondary);
@property st-global(--wds-color-fill-standard-light-secondary-active);
@property st-global(--wds-color-fill-standard-light-secondary-disabled);
@property st-global(--wds-color-fill-standard-light-secondary-hover);
@property st-global(--wds-color-fill-standard-primary);
@property st-global(--wds-color-fill-standard-primary-active);
@property st-global(--wds-color-fill-standard-primary-disabled);
@property st-global(--wds-color-fill-standard-primary-hover);
@property st-global(--wds-color-fill-standard-secondary);
@property st-global(--wds-color-fill-standard-secondary-active);
@property st-global(--wds-color-fill-standard-secondary-disabled);
@property st-global(--wds-color-fill-standard-secondary-hover);
@property st-global(--wds-color-fill-standard-tertiary);
@property st-global(--wds-color-fill-standard-tertiary-active);
@property st-global(--wds-color-fill-standard-tertiary-disabled);
@property st-global(--wds-color-fill-standard-tertiary-hover);
@property st-global(--wds-color-fill-standard-tertiary-readonly);
@property st-global(--wds-color-fill-success-primary);
@property st-global(--wds-color-fill-success-primary-active);
@property st-global(--wds-color-fill-success-primary-disabled);
@property st-global(--wds-color-fill-success-primary-hover);
@property st-global(--wds-color-fill-success-secondary);
@property st-global(--wds-color-fill-success-secondary-active);
@property st-global(--wds-color-fill-success-secondary-disabled);
@property st-global(--wds-color-fill-success-secondary-hover);
@property st-global(--wds-color-fill-success-tertiary);
@property st-global(--wds-color-fill-success-tertiary-active);
@property st-global(--wds-color-fill-success-tertiary-disabled);
@property st-global(--wds-color-fill-success-tertiary-hover);
@property st-global(--wds-color-fill-surface-dark);
@property st-global(--wds-color-fill-surface-default);
@property st-global(--wds-color-fill-surface-destructive);
@property st-global(--wds-color-fill-surface-modal);
@property st-global(--wds-color-fill-surface-modal-backdrop);
@property st-global(--wds-color-fill-surface-neutral);
@property st-global(--wds-color-fill-surface-overlay);
@property st-global(--wds-color-fill-surface-overlay-blur);
@property st-global(--wds-color-fill-surface-overlay-dark);
@property st-global(--wds-color-fill-surface-premium);
@property st-global(--wds-color-fill-surface-raised);
@property st-global(--wds-color-fill-surface-standard);
@property st-global(--wds-color-fill-surface-success);
@property st-global(--wds-color-fill-surface-sunken);
@property st-global(--wds-color-fill-surface-warning);
@property st-global(--wds-color-fill-transparent-neutral-primary);
@property st-global(--wds-color-fill-transparent-neutral-primary-active);
@property st-global(--wds-color-fill-transparent-neutral-primary-disabled);
@property st-global(--wds-color-fill-transparent-neutral-primary-hover);
@property st-global(--wds-color-fill-transparent-neutral-secondary);
@property st-global(--wds-color-fill-transparent-neutral-secondary-active);
@property st-global(--wds-color-fill-transparent-neutral-secondary-disabled);
@property st-global(--wds-color-fill-transparent-neutral-secondary-hover);
@property st-global(--wds-color-fill-transparent-neutral-tertiary);
@property st-global(--wds-color-fill-transparent-neutral-tertiary-active);
@property st-global(--wds-color-fill-transparent-neutral-tertiary-disabled);
@property st-global(--wds-color-fill-transparent-neutral-tertiary-hover);
@property st-global(--wds-color-fill-transparent-primary);
@property st-global(--wds-color-fill-transparent-primary-active);
@property st-global(--wds-color-fill-transparent-primary-disabled);
@property st-global(--wds-color-fill-transparent-primary-hover);
@property st-global(--wds-color-fill-transparent-secondary);
@property st-global(--wds-color-fill-transparent-secondary-active);
@property st-global(--wds-color-fill-transparent-secondary-disabled);
@property st-global(--wds-color-fill-transparent-secondary-hover);
@property st-global(--wds-color-fill-transparent-tertiary);
@property st-global(--wds-color-fill-transparent-tertiary-active);
@property st-global(--wds-color-fill-transparent-tertiary-disabled);
@property st-global(--wds-color-fill-transparent-tertiary-hover);
@property st-global(--wds-color-fill-urgent-primary);
@property st-global(--wds-color-fill-urgent-primary-active);
@property st-global(--wds-color-fill-urgent-primary-disabled);
@property st-global(--wds-color-fill-urgent-primary-hover);
@property st-global(--wds-color-fill-urgent-secondary);
@property st-global(--wds-color-fill-urgent-secondary-active);
@property st-global(--wds-color-fill-urgent-secondary-disabled);
@property st-global(--wds-color-fill-urgent-secondary-hover);
@property st-global(--wds-color-fill-urgent-tertiary);
@property st-global(--wds-color-fill-urgent-tertiary-active);
@property st-global(--wds-color-fill-urgent-tertiary-disabled);
@property st-global(--wds-color-fill-urgent-tertiary-hover);
@property st-global(--wds-color-fill-warning-primary);
@property st-global(--wds-color-fill-warning-primary-active);
@property st-global(--wds-color-fill-warning-primary-disabled);
@property st-global(--wds-color-fill-warning-primary-hover);
@property st-global(--wds-color-fill-warning-secondary);
@property st-global(--wds-color-fill-warning-secondary-active);
@property st-global(--wds-color-fill-warning-secondary-disabled);
@property st-global(--wds-color-fill-warning-secondary-hover);
@property st-global(--wds-color-fill-warning-tertiary);
@property st-global(--wds-color-fill-warning-tertiary-active);
@property st-global(--wds-color-fill-warning-tertiary-disabled);
@property st-global(--wds-color-fill-warning-tertiary-hover);
@property st-global(--wds-color-gradient-light-bottom-to-top);
@property st-global(--wds-color-gradient-light-left-to-right);
@property st-global(--wds-color-gradient-light-right-to-left);
@property st-global(--wds-color-gradient-neutral);
@property st-global(--wds-color-text-destructive);
@property st-global(--wds-color-text-disabled);
@property st-global(--wds-color-text-disabled-light);
@property st-global(--wds-color-text-highlight);
@property st-global(--wds-color-text-placeholder);
@property st-global(--wds-color-text-placeholder-light);
@property st-global(--wds-color-text-premium);
@property st-global(--wds-color-text-primary);
@property st-global(--wds-color-text-stage-element);
@property st-global(--wds-color-text-stage-master);
@property st-global(--wds-color-text-stage-section);
@property st-global(--wds-color-text-standard-primary);
@property st-global(--wds-color-text-standard-primary-light);
@property st-global(--wds-color-text-standard-secondary);
@property st-global(--wds-color-text-standard-secondary-light);
@property st-global(--wds-color-text-success);
@property st-global(--wds-color-text-urgent);
@property st-global(--wds-color-text-warning);
@property st-global(--wds-font-letter-spacing-heading-1);
@property st-global(--wds-font-letter-spacing-heading-2);
@property st-global(--wds-font-letter-spacing-heading-3);
@property st-global(--wds-font-letter-spacing-heading-4);
@property st-global(--wds-font-letter-spacing-heading-5);
@property st-global(--wds-font-letter-spacing-heading-6);
@property st-global(--wds-font-line-height-body-extra-tiny);
@property st-global(--wds-font-line-height-body-medium);
@property st-global(--wds-font-line-height-body-small);
@property st-global(--wds-font-line-height-body-tiny);
@property st-global(--wds-font-line-height-heading-1);
@property st-global(--wds-font-line-height-heading-2);
@property st-global(--wds-font-line-height-heading-3);
@property st-global(--wds-font-line-height-heading-4);
@property st-global(--wds-font-line-height-heading-5);
@property st-global(--wds-font-line-height-heading-6);
@property st-global(--wds-font-size-body-extra-tiny);
@property st-global(--wds-font-size-body-medium);
@property st-global(--wds-font-size-body-small);
@property st-global(--wds-font-size-body-tiny);
@property st-global(--wds-font-size-heading-1);
@property st-global(--wds-font-size-heading-2);
@property st-global(--wds-font-size-heading-3);
@property st-global(--wds-font-size-heading-4);
@property st-global(--wds-font-size-heading-5);
@property st-global(--wds-font-size-heading-6);
@property st-global(--wds-font-weight-body-bold);
@property st-global(--wds-font-weight-heading-1);
@property st-global(--wds-font-weight-heading-2);
@property st-global(--wds-font-weight-heading-3);
@property st-global(--wds-font-weight-heading-4);
@property st-global(--wds-font-weight-heading-5);
@property st-global(--wds-font-weight-heading-6);
@property st-global(--wds-inner-shadow-blur-input);
@property st-global(--wds-inner-shadow-blur-primary);
@property st-global(--wds-inner-shadow-blur-secondary);
@property st-global(--wds-inner-shadow-fill-input);
@property st-global(--wds-inner-shadow-fill-primary);
@property st-global(--wds-inner-shadow-fill-secondary);
@property st-global(--wds-inner-shadow-fill-track);
@property st-global(--wds-inner-shadow-x-input);
@property st-global(--wds-inner-shadow-x-primary);
@property st-global(--wds-inner-shadow-x-secondary);
@property st-global(--wds-inner-shadow-y-input);
@property st-global(--wds-inner-shadow-y-primary);
@property st-global(--wds-inner-shadow-y-secondary);
@property st-global(--wds-shadow-blur-input);
@property st-global(--wds-shadow-blur-primary-modal);
@property st-global(--wds-shadow-blur-primary-overlay);
@property st-global(--wds-shadow-blur-primary-overlay-dark);
@property st-global(--wds-shadow-blur-primary-raised);
@property st-global(--wds-shadow-blur-primary-toggle);
@property st-global(--wds-shadow-blur-primary-toggle-button);
@property st-global(--wds-shadow-blur-secondary-modal);
@property st-global(--wds-shadow-blur-secondary-overlay);
@property st-global(--wds-shadow-blur-secondary-overlay-dark);
@property st-global(--wds-shadow-blur-secondary-raised);
@property st-global(--wds-shadow-blur-secondary-toggle);
@property st-global(--wds-shadow-blur-secondary-toggle-button);
@property st-global(--wds-shadow-blur-tertiary-toggle-button);
@property st-global(--wds-shadow-fill-input);
@property st-global(--wds-shadow-fill-primary-modal);
@property st-global(--wds-shadow-fill-primary-overlay);
@property st-global(--wds-shadow-fill-primary-overlay-dark);
@property st-global(--wds-shadow-fill-primary-raised);
@property st-global(--wds-shadow-fill-primary-slider);
@property st-global(--wds-shadow-fill-primary-toggle);
@property st-global(--wds-shadow-fill-primary-toggle-button);
@property st-global(--wds-shadow-fill-quaternary-raised);
@property st-global(--wds-shadow-fill-secondary-modal);
@property st-global(--wds-shadow-fill-secondary-overlay);
@property st-global(--wds-shadow-fill-secondary-overlay-dark);
@property st-global(--wds-shadow-fill-secondary-raised);
@property st-global(--wds-shadow-fill-secondary-toggle);
@property st-global(--wds-shadow-fill-secondary-toggle-button);
@property st-global(--wds-shadow-fill-tertiary-raised);
@property st-global(--wds-shadow-fill-tertiary-toggle-button);
@property st-global(--wds-shadow-focus-destructive);
@property st-global(--wds-shadow-focus-inner-destructive);
@property st-global(--wds-shadow-focus-inner-standard);
@property st-global(--wds-shadow-focus-inner-warning);
@property st-global(--wds-shadow-focus-spread);
@property st-global(--wds-shadow-focus-standard);
@property st-global(--wds-shadow-focus-warning);
@property st-global(--wds-shadow-spread-secondary-raised);
@property st-global(--wds-shadow-surface-modal);
@property st-global(--wds-shadow-surface-overlay);
@property st-global(--wds-shadow-surface-overlay-dark);
@property st-global(--wds-shadow-surface-raised);
@property st-global(--wds-shadow-x-input);
@property st-global(--wds-shadow-x-primary-modal);
@property st-global(--wds-shadow-x-primary-toggle-button);
@property st-global(--wds-shadow-x-secondary-raised);
@property st-global(--wds-shadow-x-secondary-toggle-button);
@property st-global(--wds-shadow-x-tertiary-toggle-button);
@property st-global(--wds-shadow-y-input);
@property st-global(--wds-shadow-y-primary-modal);
@property st-global(--wds-shadow-y-primary-overlay);
@property st-global(--wds-shadow-y-primary-overlay-dark);
@property st-global(--wds-shadow-y-primary-raised);
@property st-global(--wds-shadow-y-primary-toggle);
@property st-global(--wds-shadow-y-primary-toggle-button);
@property st-global(--wds-shadow-y-secondary-modal);
@property st-global(--wds-shadow-y-secondary-overlay);
@property st-global(--wds-shadow-y-secondary-overlay-dark);
@property st-global(--wds-shadow-y-secondary-raised);
@property st-global(--wds-shadow-y-secondary-toggle);
@property st-global(--wds-shadow-y-secondary-toggle-button);
@property st-global(--wds-shadow-y-tertiary-toggle-button);
@property st-global(--wds-space-mobile-viewport-spacing);
@property st-global(--wds-space-padding-horizontal-large);
@property st-global(--wds-space-padding-horizontal-medium);
@property st-global(--wds-space-padding-horizontal-small);
@property st-global(--wds-space-padding-horizontal-tiny);
@property st-global(--wds-space-padding-horizontal-x-tiny);
@property st-global(--wds-space-padding-horizontal-xx-tiny);
@property st-global(--wds-space-padding-vertical-large);
@property st-global(--wds-space-padding-vertical-medium);
@property st-global(--wds-space-padding-vertical-small);
@property st-global(--wds-space-padding-vertical-tiny);
@property st-global(--wds-space-padding-vertical-x-tiny);
@property st-global(--wds-space-padding-vertical-xx-tiny);
@property st-global(--wds-space-viewport-spacing);
@property st-global(--wds-width-default);
@property st-global(--wds-width-default-2);

.root {
  --wds-background-blur-modal: 0px;
  --wds-background-blur-surface-overlay: 0px;
  --wds-border-radius-surface-default: 8px;
  --wds-border-radius-surface-modal: 8px;
  --wds-border-radius-surface-modal-backdrop: 0px;
  --wds-border-radius-surface-overlay: 8px;
  --wds-border-radius-surface-raised: 8px;
  --wds-border-radius-surface-sunken: 0px;
  --wds-border-width-default: 1px;
  --wds-border-width-varied: 1px;
  --wds-border-width-varied-secondary: 0px;
  --wds-color-border-ai-primary: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-border-ai-primary-active: #ffffff;
  --wds-color-border-ai-primary-disabled: #ffffff;
  --wds-color-border-ai-primary-hover: #ffffff;
  --wds-color-border-dark-primary: #868aa5;
  --wds-color-border-dark-primary-active: #44485f;
  --wds-color-border-dark-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-dark-primary-hover: #595d70;
  --wds-color-border-dark-secondary: #dfe5eb;
  --wds-color-border-dark-secondary-active: #dfe5eb;
  --wds-color-border-dark-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-dark-secondary-hover: #dfe5eb;
  --wds-color-border-destructive-primary: #f69891;
  --wds-color-border-destructive-primary-active: #e62214;
  --wds-color-border-destructive-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-primary-hover: #ff6d63;
  --wds-color-border-destructive-secondary: #fbd0cd;
  --wds-color-border-destructive-secondary-active: #e62214;
  --wds-color-border-destructive-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-secondary-hover: #f69891;
  --wds-color-border-destructive-tertiary: #dfe5eb;
  --wds-color-border-destructive-tertiary-active: #f69891;
  --wds-color-border-destructive-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-tertiary-hover: #fbd0cd;
  --wds-color-border-light: rgba(255, 255, 255, .5);
  --wds-color-border-light-active: #ffffff;
  --wds-color-border-light-disabled: rgba(255, 255, 255, .3);
  --wds-color-border-light-hover: rgba(255, 255, 255, .7);
  --wds-color-border-light-primary-active: #ffffff;
  --wds-color-border-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-border-premium-primary: #cf8cf1;
  --wds-color-border-premium-primary-active: #9a27d5;
  --wds-color-border-premium-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-primary-hover: #c161f0;
  --wds-color-border-premium-secondary: #e3c3f4;
  --wds-color-border-premium-secondary-active: #9a27d5;
  --wds-color-border-premium-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-secondary-hover: #cf8cf1;
  --wds-color-border-premium-tertiary: #dfe5eb;
  --wds-color-border-premium-tertiary-active: #cf8cf1;
  --wds-color-border-premium-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-tertiary-hover: #e3c3f4;
  --wds-color-border-stage-wip: #ffffff;
  --wds-color-border-standard-primary: #a8caff;
  --wds-color-border-standard-primary-active: #116dff;
  --wds-color-border-standard-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-primary-hover: #5999ff;
  --wds-color-border-standard-secondary: #d6e6fe;
  --wds-color-border-standard-secondary-active: #116dff;
  --wds-color-border-standard-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-secondary-hover: #a8caff;
  --wds-color-border-standard-secondary-readonly: #dfe5eb;
  --wds-color-border-standard-tertiary: #dfe5eb;
  --wds-color-border-standard-tertiary-active: #a8caff;
  --wds-color-border-standard-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-tertiary-hover: #d6e6fe;
  --wds-color-border-success-primary: #87cea5;
  --wds-color-border-success-primary-active: #25a55a;
  --wds-color-border-success-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-primary-hover: #51b77b;
  --wds-color-border-success-secondary: #c8e8d6;
  --wds-color-border-success-secondary-active: #25a55a;
  --wds-color-border-success-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-secondary-hover: #87cea5;
  --wds-color-border-success-tertiary: #dfe5eb;
  --wds-color-border-success-tertiary-active: #87cea5;
  --wds-color-border-success-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-tertiary-hover: #c8e8d6;
  --wds-color-border-transparent-primary: rgba(0, 6, 36, .2);
  --wds-color-border-transparent-primary-active: rgba(0, 6, 36, .2);
  --wds-color-border-transparent-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-transparent-primary-hover: rgba(0, 6, 36, .4);
  --wds-color-border-urgent-primary: #fcbd9c;
  --wds-color-border-urgent-primary-active: #fe620f;
  --wds-color-border-urgent-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-primary-hover: #ff7d38;
  --wds-color-border-urgent-secondary: #fddbc8;
  --wds-color-border-urgent-secondary-active: #fe620f;
  --wds-color-border-urgent-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-secondary-hover: #fcbd9c;
  --wds-color-border-urgent-tertiary: #dfe5eb;
  --wds-color-border-urgent-tertiary-active: #fcbd9c;
  --wds-color-border-urgent-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-tertiary-hover: #fddbc8;
  --wds-color-border-warning-primary: #ffd16e;
  --wds-color-border-warning-primary-active: #ffb700;
  --wds-color-border-warning-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-primary-hover: #ffc23d;
  --wds-color-border-warning-secondary: #ffe2a5;
  --wds-color-border-warning-secondary-active: #ffb700;
  --wds-color-border-warning-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-secondary-hover: #ffd16e;
  --wds-color-border-warning-tertiary: #dfe5eb;
  --wds-color-border-warning-tertiary-active: #ffd16e;
  --wds-color-border-warning-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-tertiary-hover: #ffe2a5;
  --wds-color-fill-accent-1: #1684EA;
  --wds-color-fill-accent-2: #17B0E2;
  --wds-color-fill-accent-3: #6544F9;
  --wds-color-fill-accent-4: #3D9FA1;
  --wds-color-fill-accent-5: #D04091;
  --wds-color-fill-accent-6: #FDB10C;
  --wds-color-fill-accent-7: #F36E1B;
  --wds-color-fill-accent-8: #CC180B;
  --wds-color-fill-accent-9: #59005F;
  --wds-color-fill-accent-10: #1F8845;
  --wds-color-fill-accent-11: #ACAFC4;
  --wds-color-fill-accent-12: #ACAFC4;
  --wds-color-fill-ai: #ffffff;
  --wds-color-fill-ai-hover: #ffffff;
  --wds-color-fill-ai-primary: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-fill-ai-primary-active: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-fill-ai-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-ai-primary-hover: linear-gradient(81deg, #0021FF -177.08%, #116DFF 31.96%, #5FF2AE 99.97%);
  --wds-color-fill-ai-primary-pressed: #ffffff;
  --wds-color-fill-ai-secondary: #d6d1fc;
  --wds-color-fill-ai-secondary-active: #d6d1fc;
  --wds-color-fill-ai-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-ai-secondary-hover: #a59bfa;
  --wds-color-fill-ai-tertiary: #ffffff;
  --wds-color-fill-ai-tertiary-active: #d6d1fc;
  --wds-color-fill-ai-tertiary-disabled: #ffffff;
  --wds-color-fill-ai-tertiary-hover: #f6f7f9;
  --wds-color-fill-dark-primary: #000624;
  --wds-color-fill-dark-primary-active: #000624;
  --wds-color-fill-dark-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-dark-primary-hover: #44485f;
  --wds-color-fill-dark-secondary: #eceff3;
  --wds-color-fill-dark-secondary-active: #cfd1dc;
  --wds-color-fill-dark-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-dark-secondary-hover: #dfe5eb;
  --wds-color-fill-dark-tertiary: #ffffff;
  --wds-color-fill-dark-tertiary-active: #cfd1dc;
  --wds-color-fill-dark-tertiary-disabled: #ffffff;
  --wds-color-fill-dark-tertiary-hover: #dfe5eb;
  --wds-color-fill-destructive-primary: #e62214;
  --wds-color-fill-destructive-primary-active: #b81206;
  --wds-color-fill-destructive-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-destructive-primary-hover: #d0180b;
  --wds-color-fill-destructive-secondary: #fbd0cd;
  --wds-color-fill-destructive-secondary-active: #ff6d63;
  --wds-color-fill-destructive-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-destructive-secondary-hover: #f69891;
  --wds-color-fill-destructive-tertiary: #ffffff;
  --wds-color-fill-destructive-tertiary-active: #fbd0cd;
  --wds-color-fill-destructive-tertiary-disabled: #ffffff;
  --wds-color-fill-destructive-tertiary-hover: #fde3e1;
  --wds-color-fill-light-primary: #ffffff;
  --wds-color-fill-light-primary-active: #d6e6fe;
  --wds-color-fill-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-light-primary-hover: #e7f0ff;
  --wds-color-fill-light-secondary: rgba(255, 255, 255, 0);
  --wds-color-fill-light-secondary-active: #d6e6fe;
  --wds-color-fill-light-secondary-disabled: rgba(255, 255, 255, 0);
  --wds-color-fill-light-secondary-hover: #e7f0ff;
  --wds-color-fill-light-tertiary: #ffffff;
  --wds-color-fill-light-tertiary-active: #d6e6fe;
  --wds-color-fill-light-tertiary-disabled: rgba(255, 255, 255, 0);
  --wds-color-fill-light-tertiary-hover: #e7f0ff;
  --wds-color-fill-premium-light-primary: #ffffff;
  --wds-color-fill-premium-light-primary-active: #e3c3f4;
  --wds-color-fill-premium-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-premium-light-primary-hover: #f1e0f9;
  --wds-color-fill-premium-light-secondary: rgba(255, 255, 255, 0);
  --wds-color-fill-premium-light-secondary-active: #e3c3f4;
  --wds-color-fill-premium-light-secondary-disabled: rgba(255, 255, 255, 0);
  --wds-color-fill-premium-light-secondary-hover: #f1e0f9;
  --wds-color-fill-premium-primary: #9a27d5;
  --wds-color-fill-premium-primary-active: #7416a5;
  --wds-color-fill-premium-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-premium-primary-hover: #8e1dd1;
  --wds-color-fill-premium-secondary: #e3c3f4;
  --wds-color-fill-premium-secondary-active: #c161f0;
  --wds-color-fill-premium-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-premium-secondary-hover: #cf8cf1;
  --wds-color-fill-premium-tertiary: #ffffff;
  --wds-color-fill-premium-tertiary-active: #e3c3f4;
  --wds-color-fill-premium-tertiary-disabled: #ffffff;
  --wds-color-fill-premium-tertiary-hover: #f1e0f9;
  --wds-color-fill-social-facebook: #1877f2;
  --wds-color-fill-social-facebook-active: #1877f2;
  --wds-color-fill-social-facebook-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-facebook-hover: rgba(24, 119, 242, .8);
  --wds-color-fill-social-instagram: #ff0175;
  --wds-color-fill-social-instagram-active: #ff0175;
  --wds-color-fill-social-instagram-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-instagram-hover: rgba(255, 1, 117, .8);
  --wds-color-fill-social-linkedin: #0065c8;
  --wds-color-fill-social-linkedin-active: #0065c8;
  --wds-color-fill-social-linkedin-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-linkedin-hover: rgba(0, 101, 200, .8);
  --wds-color-fill-social-pinterest: #e60019;
  --wds-color-fill-social-pinterest-active: #e60019;
  --wds-color-fill-social-pinterest-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-pinterest-hover: rgba(230, 0, 25, .8);
  --wds-color-fill-social-twitter: #1da1f2;
  --wds-color-fill-social-twitter-active: #1da1f2;
  --wds-color-fill-social-twitter-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-twitter-hover: rgba(29, 161, 242, .8);
  --wds-color-fill-social-xcorp: #101419;
  --wds-color-fill-social-xcorp-active: #101419;
  --wds-color-fill-social-xcorp-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-xcorp-hover: rgba(16, 20, 25, .8);
  --wds-color-fill-social-youtube: #ff0000;
  --wds-color-fill-social-youtube-active: #ff0000;
  --wds-color-fill-social-youtube-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-youtube-hover: rgba(255, 0, 0, .8);
  --wds-color-fill-stage-anchor: #5effff;
  --wds-color-fill-stage-anchor-active: #5effff;
  --wds-color-fill-stage-anchor-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-stage-anchor-hover: #18d2de;
  --wds-color-fill-stage-element-primary: #116dff;
  --wds-color-fill-stage-element-primary-active: #084ebd;
  --wds-color-fill-stage-element-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-stage-element-primary-hover: #0f62e6;
  --wds-color-fill-stage-element-secondary: #d6e6fe;
  --wds-color-fill-stage-element-secondary-active: #5999ff;
  --wds-color-fill-stage-element-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-stage-element-secondary-hover: #a8caff;
  --wds-color-fill-stage-master-primary: #fe620f;
  --wds-color-fill-stage-master-primary-active: #fe620f;
  --wds-color-fill-stage-master-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-stage-master-primary-hover: #bf5727;
  --wds-color-fill-stage-master-secondary: #fddbc8;
  --wds-color-fill-stage-master-secondary-active: #ff7d38;
  --wds-color-fill-stage-master-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-stage-master-secondary-hover: #fcbd9c;
  --wds-color-fill-stage-padding: #18d9c2;
  --wds-color-fill-stage-padding-active: #18d9c2;
  --wds-color-fill-stage-padding-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-stage-padding-hover: #18d9c2;
  --wds-color-fill-stage-section-primary: #6f56f9;
  --wds-color-fill-stage-section-primary-active: #6f56f9;
  --wds-color-fill-stage-section-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-stage-section-primary-hover: #6f56f9;
  --wds-color-fill-stage-section-secondary: #d9d2ff;
  --wds-color-fill-stage-section-secondary-active: #d9d2ff;
  --wds-color-fill-stage-section-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-stage-section-secondary-hover: #d9d2ff;
  --wds-color-fill-standard-light-primary: #80b1ff;
  --wds-color-fill-standard-light-primary-active: #5999ff;
  --wds-color-fill-standard-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-standard-light-primary-hover: #5999ff;
  --wds-color-fill-standard-light-secondary: #ffffff;
  --wds-color-fill-standard-light-secondary-active: #5999ff;
  --wds-color-fill-standard-light-secondary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-standard-light-secondary-hover: #80b1ff;
  --wds-color-fill-standard-primary: #116dff;
  --wds-color-fill-standard-primary-active: #084ebd;
  --wds-color-fill-standard-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-standard-primary-hover: #0f62e6;
  --wds-color-fill-standard-secondary: #d6e6fe;
  --wds-color-fill-standard-secondary-active: #5999ff;
  --wds-color-fill-standard-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-standard-secondary-hover: #a8caff;
  --wds-color-fill-standard-tertiary: #ffffff;
  --wds-color-fill-standard-tertiary-active: #d6e6fe;
  --wds-color-fill-standard-tertiary-disabled: #ffffff;
  --wds-color-fill-standard-tertiary-hover: #e7f0ff;
  --wds-color-fill-standard-tertiary-readonly: #eceff3;
  --wds-color-fill-success-primary: #25a55a;
  --wds-color-fill-success-primary-active: #1d8649;
  --wds-color-fill-success-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-success-primary-hover: #229954;
  --wds-color-fill-success-secondary: #c8e8d6;
  --wds-color-fill-success-secondary-active: #51b77b;
  --wds-color-fill-success-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-success-secondary-hover: #87cea5;
  --wds-color-fill-success-tertiary: #ffffff;
  --wds-color-fill-success-tertiary-active: #c8e8d6;
  --wds-color-fill-success-tertiary-disabled: #ffffff;
  --wds-color-fill-success-tertiary-hover: #e1f4eb;
  --wds-color-fill-surface-dark: #000624;
  --wds-color-fill-surface-default: #ffffff;
  --wds-color-fill-surface-destructive: #fde3e1;
  --wds-color-fill-surface-modal: #ffffff;
  --wds-color-fill-surface-modal-backdrop: rgba(0, 6, 36, .7);
  --wds-color-fill-surface-neutral: #f6f7f9;
  --wds-color-fill-surface-overlay: #ffffff;
  --wds-color-fill-surface-overlay-blur: #ffffff;
  --wds-color-fill-surface-overlay-dark: #000624;
  --wds-color-fill-surface-premium: #f1e0f9;
  --wds-color-fill-surface-raised: #ffffff;
  --wds-color-fill-surface-standard: #e7f0ff;
  --wds-color-fill-surface-success: #e1f4eb;
  --wds-color-fill-surface-sunken: #eceff3;
  --wds-color-fill-surface-warning: #fff0d1;
  --wds-color-fill-transparent-neutral-primary: rgba(134, 138, 165, 0.5000);
  --wds-color-fill-transparent-neutral-primary-active: rgba(134, 138, 165, 0.7000);
  --wds-color-fill-transparent-neutral-primary-disabled: rgba(0, 6, 36, .2);
  --wds-color-fill-transparent-neutral-primary-hover: rgba(134, 138, 165, 0.6000);
  --wds-color-fill-transparent-neutral-secondary: rgba(134, 138, 165, 0.0000);
  --wds-color-fill-transparent-neutral-secondary-active: rgba(134, 138, 165, 0.7000);
  --wds-color-fill-transparent-neutral-secondary-disabled: rgba(68, 72, 95, 0);
  --wds-color-fill-transparent-neutral-secondary-hover: rgba(134, 138, 165, 0.6000);
  --wds-color-fill-transparent-neutral-tertiary: rgba(0, 6, 36, 0);
  --wds-color-fill-transparent-neutral-tertiary-active: rgba(0, 6, 36, .5);
  --wds-color-fill-transparent-neutral-tertiary-disabled: rgba(0, 6, 36, 0);
  --wds-color-fill-transparent-neutral-tertiary-hover: rgba(0, 6, 36, .5);
  --wds-color-fill-transparent-primary: rgba(68, 72, 95, .5);
  --wds-color-fill-transparent-primary-active: rgba(68, 72, 95, .7);
  --wds-color-fill-transparent-primary-disabled: rgba(0, 6, 36, .2);
  --wds-color-fill-transparent-primary-hover: rgba(68, 72, 95, .6);
  --wds-color-fill-transparent-secondary: rgba(68, 72, 95, 0);
  --wds-color-fill-transparent-secondary-active: rgba(68, 72, 95, .7);
  --wds-color-fill-transparent-secondary-disabled: rgba(68, 72, 95, 0);
  --wds-color-fill-transparent-secondary-hover: rgba(68, 72, 95, .6);
  --wds-color-fill-transparent-tertiary: rgba(0, 6, 36, 0);
  --wds-color-fill-transparent-tertiary-active: rgba(0, 6, 36, .5);
  --wds-color-fill-transparent-tertiary-disabled: rgba(0, 6, 36, 0);
  --wds-color-fill-transparent-tertiary-hover: rgba(0, 6, 36, .5);
  --wds-color-fill-urgent-primary: #fe620f;
  --wds-color-fill-urgent-primary-active: #df4d00;
  --wds-color-fill-urgent-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-urgent-primary-hover: #f05300;
  --wds-color-fill-urgent-secondary: #fddbc8;
  --wds-color-fill-urgent-secondary-active: #ff7d38;
  --wds-color-fill-urgent-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-urgent-secondary-hover: #fcbd9c;
  --wds-color-fill-urgent-tertiary: #ffffff;
  --wds-color-fill-urgent-tertiary-active: #fddbc8;
  --wds-color-fill-urgent-tertiary-disabled: #ffffff;
  --wds-color-fill-urgent-tertiary-hover: #fee5d7;
  --wds-color-fill-warning-primary: #ffb700;
  --wds-color-fill-warning-primary-active: #d59900;
  --wds-color-fill-warning-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-warning-primary-hover: #e7a600;
  --wds-color-fill-warning-secondary: #ffe2a5;
  --wds-color-fill-warning-secondary-active: #ffc23d;
  --wds-color-fill-warning-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-warning-secondary-hover: #ffd16e;
  --wds-color-fill-warning-tertiary: #ffffff;
  --wds-color-fill-warning-tertiary-active: #ffe2a5;
  --wds-color-fill-warning-tertiary-disabled: #ffffff;
  --wds-color-fill-warning-tertiary-hover: #fff0d1;
  --wds-color-gradient-light-bottom-to-top: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-light-left-to-right: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-light-right-to-left: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-neutral: linear-gradient(0deg, #eceff3 0%, #eceff300 100%);
  --wds-color-text-destructive: #e62214;
  --wds-color-text-disabled: rgba(0, 6, 36, .3);
  --wds-color-text-disabled-light: rgba(255, 255, 255, .7);
  --wds-color-text-highlight: #d6e6fe;
  --wds-color-text-placeholder: #868aa5;
  --wds-color-text-placeholder-light: #868aa5;
  --wds-color-text-premium: #9a27d5;
  --wds-color-text-primary: #116dff;
  --wds-color-text-stage-element: #116dff;
  --wds-color-text-stage-master: #fe620f;
  --wds-color-text-stage-section: #6f56f9;
  --wds-color-text-standard-primary: #000624;
  --wds-color-text-standard-primary-light: #ffffff;
  --wds-color-text-standard-secondary: #44485f;
  --wds-color-text-standard-secondary-light: #868aa5;
  --wds-color-text-success: #25a55a;
  --wds-color-text-urgent: #fe620f;
  --wds-color-text-warning: #ffb700;
  --wds-font-letter-spacing-heading-1: 0px;
  --wds-font-letter-spacing-heading-2: 0px;
  --wds-font-letter-spacing-heading-3: 0px;
  --wds-font-letter-spacing-heading-4: 0px;
  --wds-font-letter-spacing-heading-5: 1px;
  --wds-font-letter-spacing-heading-6: 1px;
  --wds-font-line-height-body-extra-tiny: 12px;
  --wds-font-line-height-body-medium: 24px;
  --wds-font-line-height-body-small: 18px;
  --wds-font-line-height-body-tiny: 18px;
  --wds-font-line-height-heading-1: 36px;
  --wds-font-line-height-heading-2: 28px;
  --wds-font-line-height-heading-3: 24px;
  --wds-font-line-height-heading-4: 24px;
  --wds-font-line-height-heading-5: 24px;
  --wds-font-line-height-heading-6: 18px;
  --wds-font-size-body-extra-tiny: 10px;
  --wds-font-size-body-medium: 16px;
  --wds-font-size-body-small: 14px;
  --wds-font-size-body-tiny: 12px;
  --wds-font-size-heading-1: 28px;
  --wds-font-size-heading-2: 21px;
  --wds-font-size-heading-3: 18px;
  --wds-font-size-heading-4: 18px;
  --wds-font-size-heading-5: 15px;
  --wds-font-size-heading-6: 12px;
  --wds-font-weight-body-bold: 700;
  --wds-font-weight-heading-1: 700;
  --wds-font-weight-heading-2: 700;
  --wds-font-weight-heading-3: 700;
  --wds-font-weight-heading-4: 500;
  --wds-font-weight-heading-5: 400;
  --wds-font-weight-heading-6: 400;
  --wds-inner-shadow-blur-input: 0px;
  --wds-inner-shadow-blur-primary: 0px;
  --wds-inner-shadow-blur-secondary: 0px;
  --wds-inner-shadow-fill-input: rgba(0, 6, 36, 0);
  --wds-inner-shadow-fill-primary: rgba(255, 255, 255, 0);
  --wds-inner-shadow-fill-secondary: rgba(255, 255, 255, 0);
  --wds-inner-shadow-fill-track: rgba(0, 6, 36, 0);
  --wds-inner-shadow-x-input: 0px;
  --wds-inner-shadow-x-primary: 0px;
  --wds-inner-shadow-x-secondary: 0px;
  --wds-inner-shadow-y-input: 0;
  --wds-inner-shadow-y-primary: 0;
  --wds-inner-shadow-y-secondary: 0;
  --wds-shadow-blur-input: 0px;
  --wds-shadow-blur-primary-modal: 24px;
  --wds-shadow-blur-primary-overlay: 18px;
  --wds-shadow-blur-primary-overlay-dark: 18px;
  --wds-shadow-blur-primary-raised: 6px;
  --wds-shadow-blur-primary-toggle: 3px;
  --wds-shadow-blur-primary-toggle-button: 0px;
  --wds-shadow-blur-secondary-modal: 8px;
  --wds-shadow-blur-secondary-overlay: 6px;
  --wds-shadow-blur-secondary-overlay-dark: 6px;
  --wds-shadow-blur-secondary-raised: 4px;
  --wds-shadow-blur-secondary-toggle: 1px;
  --wds-shadow-blur-secondary-toggle-button: 0px;
  --wds-shadow-blur-tertiary-toggle-button: 0px;
  --wds-shadow-fill-input: rgba(0, 6, 36, 0);
  --wds-shadow-fill-primary-modal: rgba(0, 6, 36, .2);
  --wds-shadow-fill-primary-overlay: rgba(0, 6, 36, .1);
  --wds-shadow-fill-primary-overlay-dark: rgba(0, 6, 36, .1);
  --wds-shadow-fill-primary-raised: rgba(0, 6, 36, .1);
  --wds-shadow-fill-primary-slider: rgba(0, 6, 36, 0);
  --wds-shadow-fill-primary-toggle: rgba(0, 6, 36, .2);
  --wds-shadow-fill-primary-toggle-button: rgba(255, 255, 255, 0);
  --wds-shadow-fill-quaternary-raised: rgba(0, 6, 36, 0);
  --wds-shadow-fill-secondary-modal: rgba(0, 6, 36, .1);
  --wds-shadow-fill-secondary-overlay: rgba(0, 6, 36, .05);
  --wds-shadow-fill-secondary-overlay-dark: rgba(0, 6, 36, .05);
  --wds-shadow-fill-secondary-raised: rgba(0, 6, 36, .05);
  --wds-shadow-fill-secondary-toggle: rgba(0, 6, 36, .5);
  --wds-shadow-fill-secondary-toggle-button: rgba(0, 6, 36, 0);
  --wds-shadow-fill-tertiary-raised: rgba(0, 6, 36, 0);
  --wds-shadow-fill-tertiary-toggle-button: rgba(0, 6, 36, 0);
  --wds-shadow-focus-destructive: 0 0 0 3px #fbd0cd;
  --wds-shadow-focus-inner-destructive: 0 0 0 3px #fbd0cd inset;
  --wds-shadow-focus-inner-standard: 0 0 0 3px #a8caff inset;
  --wds-shadow-focus-inner-warning: 0 0 0 3px #ffe2a5 inset;
  --wds-shadow-focus-spread: 3;
  --wds-shadow-focus-standard: 0 0 0 3px #a8caff;
  --wds-shadow-focus-warning: 0 0 0 3px #ffe2a5;
  --wds-shadow-spread-secondary-raised: 0;
  --wds-shadow-surface-modal: 0px 3px 24px rgba(0, 6, 36, .2), 0 8px 8px rgba(0, 6, 36, .1);
  --wds-shadow-surface-overlay: 0 0 18px rgba(0, 6, 36, .1), 0 6px 6px rgba(0, 6, 36, .05);
  --wds-shadow-surface-overlay-dark: 0 0 18px rgba(0, 6, 36, .1), 0 6px 6px rgba(0, 6, 36, .05);
  --wds-shadow-surface-raised: 0 0 6px rgba(0, 6, 36, .1), 0 2px 4px rgba(0, 6, 36, .1);
  --wds-shadow-x-input: 0px;
  --wds-shadow-x-primary-modal: 0px;
  --wds-shadow-x-primary-toggle-button: 0px;
  --wds-shadow-x-secondary-raised: 0px;
  --wds-shadow-x-secondary-toggle-button: 0px;
  --wds-shadow-x-tertiary-toggle-button: 0px;
  --wds-shadow-y-input: 0;
  --wds-shadow-y-primary-modal: 3px;
  --wds-shadow-y-primary-overlay: 0;
  --wds-shadow-y-primary-overlay-dark: 0;
  --wds-shadow-y-primary-raised: 0;
  --wds-shadow-y-primary-toggle: 0;
  --wds-shadow-y-primary-toggle-button: 0;
  --wds-shadow-y-secondary-modal: 8px;
  --wds-shadow-y-secondary-overlay: 6px;
  --wds-shadow-y-secondary-overlay-dark: 6px;
  --wds-shadow-y-secondary-raised: 2px;
  --wds-shadow-y-secondary-toggle: 2px;
  --wds-shadow-y-secondary-toggle-button: 0;
  --wds-shadow-y-tertiary-toggle-button: 0;
  --wds-space-mobile-viewport-spacing: 30px;
  --wds-space-padding-horizontal-large: 24px;
  --wds-space-padding-horizontal-medium: 18px;
  --wds-space-padding-horizontal-small: 15px;
  --wds-space-padding-horizontal-tiny: 12px;
  --wds-space-padding-horizontal-x-tiny: 6px;
  --wds-space-padding-horizontal-xx-tiny: 3px;
  --wds-space-padding-vertical-large: 24px;
  --wds-space-padding-vertical-medium: 18px;
  --wds-space-padding-vertical-small: 15px;
  --wds-space-padding-vertical-tiny: 12px;
  --wds-space-padding-vertical-x-tiny: 6px;
  --wds-space-padding-vertical-xx-tiny: 3px;
  --wds-space-viewport-spacing: 48px;
  --wds-width-default: 1px;
  --wds-width-default-2: 1px;
}
